/* font familly added */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap')

/* shared style */
* {
    font-family: "Work Sans", sans-serif;
}

.span1 {
    color: #FF900E;
}

.span3 {
    color: #727272;
    font-size: 2.80rem;
    font-weight: 500;
}

.span2 {
    color: #131313;
    font-size: 2.80rem;
    font-weight: 700;
}

.span4 {
    color: #FF900E;
    font-size: 2.80rem;
    font-weight: 700;
}

.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 20px 25px;
}

.btn-primary:hover {
    background-color: rgba(255, 144, 14, 0.10);
    color: #131313;
}

/* header style */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li a {
    text-decoration: none;
    margin-left: 30px;
    color: #424242;
    font-weight: 600;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

/* banner related style */
.banner-contact {
    width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    font-family: "Work Sans";
    margin-bottom: 5px;
}

.bannet-discription {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
}

.banner img {
    width: 100%;
}

/* team section style */
.team-container {
    display: flex;
    align-items: center;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.team-discription {
    color:  #727272;
    font-size: 1rem;
    font-weight: 400;
}


.team-contant{
    padding-left: 70px;
    padding-right: 70px;
}

/* main secton style  */
main {
    max-width: 1440px;
    margin: 0px auto;
}

/* responsive media query for mobile device*/
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav li a {
        margin-left: 20px;
    }

    .banner-contact {
        width: auto;
    }
}